<nav id="nav">
    <!-- Sticky navbar -->
    <div id="nav-container">
        <div id="nav-home-container">
            <div class="visible lg:invisible mr-8 lg:mr-0 w-0">
                <button type="button" id="mobile-nav-togglebutton">
                    <svg id="mobile-nav-menu-icon" class="icon" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <use xlink:href="/static/icons/feather-sprite.svg#menu"></use>
                    </svg>
                </button>
                <div id="mobile-nav-menu" class="invisible lg:hidden">
                    <div id="mobile-nav-links-container">
                        <%- include('./navdropdownitem.ejs', {
                            link: '/curriculum',
                            icon: 'file-text',
                            title: 'Catalogue',
                            description: 'A full listing of all of Ideoxan\'s official courses and pathways',
                            links: []
                        }) %>
                        <%- include('./navdropdownitem.ejs', {
                            link: '#',
                            icon: 'zap',
                            title: 'Solutions (Coming Soon)',
                            description: 'Need to hypercharge your school or corporate learning?',
                            links: []
                        }) %>
                        <%- include('./navdropdownitem.ejs', {
                            link: 'https://github.com/ideoxan',
                            icon: 'github',
                            title: 'Open Source',
                            description: 'Become part of something bigger. Contribute to a collaborative and free open source project!',
                            links: []
                        }) %>
                        <%- include('./navdropdownitem.ejs', {
                            link: '/about',
                            icon: 'smile',
                            title: 'About',
                            description: 'Find out who we are and why we love to help people learn how to code!',
                            links: []
                        }) %>
                        <div id="mobile-account-container">
                            <a id="mobile-account-login-button" href="/login">
                                <div class="flex flex-col w-full">
                                    <div class="text-gray-900 font-sans font-medium text-sm text-center">Log In</div>
                                </div>
                            </a>
                            <a id="mobile-account-signup-button" href="/signup">
                                <div class="flex flex-col w-full">
                                    <div class="text-white font-sans font-medium text-sm text-center">Sign Up</div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Website Logo -->
            <a href="/">
                <!-- Homepage link -->
                <img id="nav-home-logo" src="/static/img/ix_primary_p.png">
            </a>
        </div>
        <div id="nav-links-container">
            <!-- Nav -->
            <div class="nav-link">
                <button type="button">
                    Catalogue
                </button>
                <div class="nav-dropdown-wrapper">
                    <div class="nav-dropdown hidden">
                        <%- include('./navdropdownitem.ejs', {
                            link: '/course/tutorial',
                            icon: 'help-circle',
                            title: 'Tutorial',
                            description: 'This is an interactive lesson on how to use the Ideoxan editor. This includes a small vanilla HTML project with 1 chapter and 1 lesson.',
                            links: []
                        }) %>
                        <%- include('./navdropdownitem.ejs', {
                            link: '#',
                            icon: 'file-text',
                            title: 'Courses',
                            description: 'Learn programming and various computer science skills through interactive exercises, lessons and other coursework.',
                            links: [
                                {
                                    name: 'Introduction to HTML',
                                    href: '/course/introduction-to-html/'
                                },
                                {
                                    name: 'Introduction to CSS',
                                    href: '/course/introduction-to-css/'
                                },
                                {
                                    name: 'Introduction to JS',
                                    href: '/course/introduction-to-js-dom/'
                                },
                                {
                                    name: 'Introduction to Node.js',
                                    href: '/course/introduction-to-nodejs/'
                                }
                            ]
                        }) %>
                        <%- include('./navdropdownitem.ejs', {
                            link: '#',
                            icon: 'map',
                            title: 'Pathways',
                            description: 'Course Pathways are groups of courses that all focus on a specific skill in Computer Science and Programming',
                            links: [
                                {
                                    name: 'Fundamentals of Web Design',
                                    href: '#'
                                },
                                {
                                    name: 'JavaScript Full Stack',
                                    href: '#'
                                },
                                {
                                    name: 'Command Line Expert',
                                    href: '#'
                                }
                            ]
                        }) %>
                        <div class="nav-dropdown-endcap">
                            <a class="nav-dropdown-endcap-button" href="/catalogue">
                                See More →
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="nav-link">
                <button type="button">
                    Solutions
                </button>
                <div class="nav-dropdown-wrapper">
                    <div class="nav-dropdown hidden">
                        <%- include('./navdropdownitem.ejs', {
                            link: '#',
                            icon: 'users',
                            title: 'Ideoxan for Teams (Coming Soon)',
                            description: 'Want to educate your company\'s workforce? Certify and monitor your team with ease.',
                            links: []
                        }) %>
                        <%- include('./navdropdownitem.ejs', {
                            link: '#',
                            icon: 'book-open',
                            title: 'Ideoxan/EDU (Coming Soon)',
                            description: 'Are you an educator? Want to teach your students the latest technologies?',
                            links: []
                        }) %>
                    </div>
                </div>
            </div>
            <div class="nav-link">
                <button type="button">
                    Resources
                </button>
                <div class="nav-dropdown-wrapper">
                    <div class="nav-dropdown hidden">
                        <%- include('./navdropdownitem.ejs', {
                            link: '#',
                            icon: 'code',
                            title: 'Open Source',
                            description: 'Ideoxan\'s open sourced code is hosted as a GitHub repository',
                            links: [
                                {
                                    name: 'Main Repository (ideoxan/ideoxan)',
                                    href: 'https://github.com/ideoxan/ideoxan'
                                },
                                {
                                    name: 'Koala Code Editor (ideoxan/koala)',
                                    href: 'https://github.com/ideoxan/koala'
                                }
                            ]
                        }) %>
                        <%- include('./navdropdownitem.ejs', {
                            link: 'https://github.com/ideoxan/spec',
                            icon: 'edit-3',
                            title: 'Documentation',
                            description: 'Learn how to use our open source tools to power your own content on Ideoxan',
                            links: []
                        }) %>
                        <%- include('./navdropdownitem.ejs', {
                            link: 'https://github.com/ideoxan/contributing',
                            icon: 'git-merge',
                            title: 'Contributing',
                            description: 'Become part of something bigger. Contribute to a collaborative and free open source project!',
                            links: []
                        }) %>
                        <div class="nav-dropdown-endcap">
                            <a class="nav-dropdown-endcap-button" href="https://github.com/ideoxan">
                                See More →
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <a class="nav-link" href="/about">
                <div>About</div>
            </a>
        </div>
        <div id="nav-account-container">
            <button type="button">
                <svg id="nav-account-icon" class="icon" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <use xlink:href="/static/icons/feather-sprite.svg#user"></use>
                </svg>
            </button>
            <div class="nav-account-dropdown-wrapper">
                <div class="nav-account-dropdown hidden">
                    <a class="nav-account-dropdown-item" href="/user/sampleuser">
                        <svg class="icon nav-account-dropdown-item-icon" fill="none" stroke-linecap="round"
                            stroke-linejoin="round">
                            <use xlink:href="/static/icons/feather-sprite.svg#user"></use>
                        </svg>
                        <div class="nav-account-dropdown-item-content">
                            <div class="nav-account-dropdown-item-content-title">Profile</div>
                        </div>
                    </a>
                    <a class="nav-account-dropdown-item" href="/settings">
                        <svg class="icon nav-account-dropdown-item-icon" fill="none" stroke-linecap="round"
                            stroke-linejoin="round">
                            <use xlink:href="/static/icons/feather-sprite.svg#settings"></use>
                        </svg>
                        <div class="nav-account-dropdown-item-content">
                            <div class="nav-account-dropdown-item-content-title">Options</div>
                        </div>
                    </a>
                    <a class="nav-account-dropdown-item" href="/login">
                        <svg class="icon nav-account-dropdown-item-icon" fill="none" stroke-linecap="round"
                            stroke-linejoin="round">
                            <use xlink:href="/static/icons/feather-sprite.svg#log-in"></use>
                        </svg>
                        <div class="nav-account-dropdown-item-content">
                            <div class="nav-account-dropdown-item-content-title">Log In</div>
                        </div>
                    </a>
                    <a class="nav-account-dropdown-button" href="/signup">
                        <svg class="icon nav-account-dropdown-button-icon" fill="none" stroke-linecap="round"
                            stroke-linejoin="round">
                            <use xlink:href="/static/icons/feather-sprite.svg#key"></use>
                        </svg>
                        <div class="nav-account-dropdown-button-content">
                            <div class="nav-account-dropdown-button-content-title">Sign Up</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>
