<footer>
    <a class="nav-element nav-element-inactive" href="/tos"><%- content.tos.pageName %></a>
    <a class="nav-element nav-element-inactive" href="/privacy"><%- content.privacy.pageName %></a>
    <div class="footer-langs">
        <span class="mdi mdi-translate ico-14px nav-element" style="margin-right: 8px;cursor:pointer; opacity: 0.5;"></span></a>
        <a class="nav-element nav-element-inactive" onclick="window.location.replace(window.location.pathname + '?clang=en')"><%- content.languages.en %></a>
        <a class="nav-element nav-element-inactive" onclick="window.location.replace(window.location.pathname + '?clang=es')"><%- content.languages.es %></a>
        <a class="nav-element nav-element-inactive" onclick="window.location.replace(window.location.pathname + '?clang=hi')"><%- content.languages.hi %></a>
        <a class="nav-element nav-element-inactive" onclick="window.location.replace(window.location.pathname + '?clang=sv')"><%- content.languages.sv %></a>
        <a class="nav-element nav-element-inactive" onclick="window.location.replace(window.location.pathname + '?clang=id')"><%- content.languages.id %></a>
        <a class="nav-element nav-element-inactive" onclick="window.location.replace(window.location.pathname + '?clang=de')"><%- content.languages.de %></a>
        <a class="nav-element nav-element-inactive" onclick="window.location.replace(window.location.pathname + '?clang=fr')"><%- content.languages.fr %></a>
        <a class="nav-element nav-element-inactive" onclick="window.location.replace(window.location.pathname + '?clang=ru')"><%- content.languages.ru %></a>
    </div>
    <a href="https://github.com/ideoxan" id="footer-tag"><img class="ico-18px footer-img ix-logo" src="<%- cfg.logoPath %>"> Made with &#x1F496; by <%- cfg.name %></a>
</footer>