<nav id="nav">
    <a href="/" class="nav-logo nav-element"><img class="ico-18px ix-logo" src="<%- cfg.logoPath %>"></a>
    <a href="/catalogue" class="nav-element"><%- content.catalogue.pageName %></a>
    <a href="/pricing" class="nav-element"><%- content.pricing.pageName %></a>
    <a href="/about" class="nav-element"><%- content.about.pageName %></a>
    <a href="https://github.com/ideoxan/ideoxan" title="GitHub" class="nav-element"><span class="mdi mdi-github ico-16px"></span></a>
    <a href="https://discord.gg/jxqKy6r" title="Discord" class="nav-element"><span class="mdi mdi-discord ico-16px"></span></a>
    <a href="https://twitter.com/ideoxan" title="Twitter" class="nav-element"><span class="mdi mdi-twitter ico-16px"></span></a>
    <div id="nav-right">
        <% if (auth) { %>
            <div class="nav-user">
                <img class="nav-user-img" src="/static/img/defaultprofile.webp">
                <p><%- displayName %></p>
                <a class="nav-user-dropbttn" href="#"><span class="mdi mdi-chevron-down ico-18px ico-white"></span></a>
                <div class="nav-user-dropdown">
                    <a class="nav-user-dropdown-item" href="<%- '/user/' + displayName %>">Profile</a>
                    <a class="nav-user-dropdown-item" id="theme-change" href="#">Change Theme</a>
                    <a class="nav-user-dropdown-item" href="/settings">Settings</a>
                    <a class="nav-user-dropdown-item" href="/api/v1/user/deauth" id="nav-user-dropdown-logout">Log Out</a>
                </div>
            </div>
        <% } else { %>
            <a title="Change Theme" id="theme-change" class="nav-element" style="margin-right: 8px;cursor:pointer;"><span class="mdi ico-16px" id="theme-change-bttn" ></span></a>
            <a href="/login" class="button button-dark"><%- content.login.pageName %></a>
            <a href="/signup" class="button button-primary"><%- content.signup.pageName %></a>
        <% } %>
    </div>
</nav>