<!DOCTYPE html>
<html lang="en">

    <head>
        <%- include('./partials/head/universalhead.ejs', {title: 'Catalogue'}) %>
    </head>

    <body class="ts w-screen h-screen bg-white overflow-x-hidden">
        <div class="ts flex flex-col w-screen h-screen"> 
            <header class="ts z-20 flex flex-col flex-nowrap flex-shrink-0 min-w-screen shadow-lg ring-1 ring-gray-900 ring-opacity-10 bg-opacity-0">
                <!--------------------------------------- Nav Bar --------------------------------------->
                <%- include('./partials/nav/nav.ejs', locals) %>

                <% if (buildEnv !== 'production') { %>
                    <!------------------------------------- Dev Banner -------------------------------------->
                    <%- include('./partials/nav/dev_banner.ejs', locals) %>
                <% } %>
            </header>
            <main class="ts flex-1 overflow-y-auto">

                <!------------------------------------- Page Header ------------------------------------->
                <%- include('./partials/header/header.ejs', {
                    header: 'Catalogue',
                    subheader: 'With a wide variety to choose from, you can find your new favorite programming language!'
                }) %>

                <!------------------------------------- Course List ------------------------------------->
                <%- include('./partials/catalogue_parts/catalogue_courses.ejs', locals) %>
                
                <!----------------------------------------- CTA ----------------------------------------->
                <%- include('./partials/index_parts/index_cta.ejs', locals) %>

                <!--------------------------------------- Footer ---------------------------------------->
                <%- include('./partials/footer/footer.ejs', locals) %>
                
            </main>
        </div>
        <!--------------------------------------- Scripts --------------------------------------->
        <script src="static/js/index.js"></script>
    </body>

</html>
