<!DOCTYPE html>
<html lang="en">

    <head>
        <%- include('./partials/head/universalhead.ejs', {title: reqUserDisplayName}) %>
    </head>

    <body class="ts w-screen h-screen bg-white dark:bg-black overflow-x-hidden">
        <div class="ts flex flex-col w-screen h-screen"> 
            <header class="ts z-20 flex flex-col flex-nowrap flex-shrink-0 min-w-screen shadow-lg ring-1 ring-gray-900 ring-opacity-10 bg-opacity-0">
                <!--------------------------------------- Nav Bar --------------------------------------->
                <%- include('./partials/nav/nav.ejs', {locals, simple: true }) %>

                <% if (buildEnv !== 'production') { %>
                    <!------------------------------------- Dev Banner -------------------------------------->
                    <%- include('./partials/nav/dev_banner.ejs', locals) %>
                <% } %>
            </header>
            <main class="ts flex-1 overflow-y-hidden">
                <div class="ts min-w-full h-full flex flex-col md:flex-row bg-purple-50 dark:bg-gray-950">
                    <!------------------------------------ Dashboard Nav ------------------------------------>
                    <%- include('./partials/dashboard_parts/dashboard_nav/dashboard_nav.ejs', locals) %>

                    <div class="ts w-full h-full flex flex-col overflow-y-auto">
                        <div id="dashboard-content-url-home" class="dashboard-content ts w-full h-full flex flex-col">
                            
                        </div>

                        <!---------------------------------- User Profile Page ---------------------------------->
                        <%- include('./partials/user_parts/user_page.ejs', locals) %>

                        <div id="dashboard-content-url-courses" class="dashboard-content ts w-full h-full flex flex-col">
                            
                        </div>

                        <div id="dashboard-content-url-completed" class="dashboard-content ts w-full h-full flex flex-col">
                            
                        </div>

                        <div id="dashboard-content-url-settings" class="dashboard-content ts w-full h-full flex flex-col">
                            
                        </div>
                    </div>
                </div>                
            </main>
        </div>
        <!--------------------------------------- Scripts --------------------------------------->
        <script src="/static/js/index.js"></script>
        <script>
            let dashboardLinks = document.getElementsByClassName('dashboard-nav-link')
            let dashboardContent = document.getElementsByClassName('dashboard-content')
            let previousURL = '<%- requestedSection %>'
            let appURL = '/app/'
            let fadeLength = 250

            for (let i = 0; i < dashboardLinks.length; i++) {
                dashboardLinks[i].classList.add('dashboard-nav-link-inactive')
            }
            document.getElementById('dashboard-nav-link-url-<%- requestedSection %>').classList.remove('dashboard-nav-link-inactive')
            document.getElementById('dashboard-nav-link-url-<%- requestedSection %>').classList.add('dashboard-nav-link-active')
            
            for (let i = 0; i < dashboardContent.length; i++) {
                dashboardContent[i].classList.add('hidden')
                dashboardContent[i].classList.remove('flex')
            }
            document.getElementById('dashboard-content-url-<%- requestedSection %>').classList.remove('hidden')
            document.getElementById('dashboard-content-url-<%- requestedSection %>').classList.add('flex')
            

            function selectItem(title, url) {
                previousURL = window.location.pathname.substring(appURL.length)
                history.pushState(`${title} | Ideoxan`, `${title} | Ideoxan`, `${appURL}${url}`)
                document.title = `${title} | Ideoxan`

                for (let i = 0; i < dashboardLinks.length; i++) {
                    if (dashboardLinks[i].id == 'dashboard-nav-link-url-' + url) {
                        dashboardLinks[i].classList.remove('dashboard-nav-link-inactive')
                        dashboardLinks[i].classList.add('dashboard-nav-link-active')
                    } else {
                        dashboardLinks[i].classList.remove('dashboard-nav-link-active')
                        dashboardLinks[i].classList.add('dashboard-nav-link-inactive')
                    }
                }
                
                let previousContent = document.getElementById('dashboard-content-url-' + previousURL)
                let newContent = document.getElementById('dashboard-content-url-' + url)

                previousContent.style.opacity = '100%'
                previousContent.style.animation = `fade-out ${fadeLength + 100}ms ease-in-out`
                window.setTimeout(() => {
                    previousContent.style.opacity = '0%'
                    previousContent.classList.add('hidden')
                    previousContent.classList.remove('flex')
                    
                    newContent.style.opacity = '0%'
                    newContent.classList.add('flex')
                    newContent.classList.remove('hidden')
                    newContent.style.animation = `fade-in ${fadeLength + 100}ms ease-in-out`
                    window.setTimeout(() => {
                        newContent.style.opacity = '100%'
                    }, fadeLength)
                }, fadeLength)

            }
            
        </script>
    </body>

</html>
