<!DOCTYPE html>
<html style="overflow: hidden">
    <head>
        <%- include('./partials/head.ejs', {title: errNum}) %>
        <link rel="stylesheet" type="text/css" href="/static/css/site.css">
    </head>
    <body>
        <div id="body-fullwh" class="inner-align-center">
            <div class="box-align-center">
                <p id="error-bigheader"><%- errNum %></p>
                <p id="error-smallheader"><%- __('errorPage.info.smallHeader') %></p>
                <p id="error-descr"><%- message %></p>
                <p id="error-contact"><%- __('errorPage.info.contact') %></p>
                <a id="error-go-home" class="subheading" href="/"><span class="mdi mdi-arrow-left ico-12px"></span><%- __('errorPage.info.goHomeButton') %></a>
            </div>
        </div>
        <p id="error-code"><%- code %></p>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="/static/js/theme.js" type="text/javascript"></script>
    </body>
</html>