<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Ideoxan</title>

        <link rel="stylesheet" href="/static/css/styles.css">

        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v3.0.3/css/line.css">
    </head>

    <body class="w-screen h-screen bg-white overflow-x-hidden">
        <div class="flex flex-col w-full h-full"> 
            <header>
                <!--------------------------------------- Nav Bar --------------------------------------->
                <%- include('./partials/nav/nav.ejs', locals) %>
            </header>
            <main class="flex-1 overflow-y-auto">
                <!---------------------------------------- Hero ----------------------------------------->
                <%- include('./partials/hero/hero.ejs', locals) %>

                <!-------------------------------------- Features --------------------------------------->
                <%- include('./partials/index_parts/index_features.ejs', locals) %>

                <!---------------------------------- Solutions Banner ----------------------------------->
                <%- include('./partials/index_parts/index_solutions_banner.ejs', locals) %>

                <!------------------------------------- Git Banner -------------------------------------->
                <%- include('./partials/index_parts/oss/index_oss.ejs', locals) %>

                <!----------------------------------------- CTA ----------------------------------------->
                <%- include('./partials/index_parts/index_cta.ejs', locals) %>

                <!--------------------------------------- Scripts --------------------------------------->
                <script src="static/js/index.js"></script>
            </main>
        </div>
        
    </body>

</html>
