<!DOCTYPE html>
<html>
    <head>
        <%- include('./partials/head.ejs') %>
        <link rel="stylesheet" type="text/css" href="/static/css/site.css">
    </head>
    <body>
        <!-- <div id="topbanner">
            <div id="cd">
                <div class='cd-nums' id="cd-nums-days"></div>
                <div class='cd-nums' id="cd-nums-hours"></div>
                <div class='cd-nums' id="cd-nums-minutes"></div>
                <div class='cd-nums' id="cd-nums-seconds"></div>
            </div>
        </div> -->
        <%- include('./partials/nav.ejs', locals) %>

        <%- include('./partials/header201108.ejs') %>

        <main id="container">
            <div class="contentdiv cd-type-0">
                <!-- <h1 class="heading"><%- __('home.features.header') %></h1>
                <h2 class="subheading"><%- __('home.features.subheader') %></h2> -->
                <div class="feature-wrapper">
                    <div class="feature-content">
                        <img src="/static/img/opensource.svg" width="500px">
                        <div class="feature-text-right">
                            <h1><%- __('home.features.items.feature0.title') %></h1>
                            <p><%- __('home.features.items.feature0.description') %></p>
                        </div>
                    </div>
                    <div class="feature-content">
                        <div class="feature-text-left">
                            <h1><%- __('home.features.items.feature2.title') %></h1>
                            <p><%- __('home.features.items.feature2.description') %></p>
                        </div>
                        <img src="/static/img/interactive.svg" width="500px">
                    </div>
                    <div class="feature-content">
                        <img src="/static/img/free.svg" width="500px">
                        <div class="feature-text-right">
                            <h1><%- __('home.features.items.feature1.title') %></h1>
                            <p><%- __('home.features.items.feature1.description') %></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="contentdiv cd-type-0">
                <h1 class="heading"><%- __('home.editorFeatures.header') %></h1>
                <h2 class="subheading"><%- __('home.editorFeatures.subheader') %></h2>
                <div id="ixefeatures">
                    <img class="" src="/static/img/webdrop.webp">
                    <div class="" id="ixefeatures-list">
                        <div class="ixefeature" id="ixefeature-0">
                            <div class="ixefeature-ico">
                                <span class="mdi mdi-head-lightbulb-outline ico-64px ico-primary"></span>
                            </div>
                            <div class="ixefeature-content">
                                <h3><%- __('home.editorFeatures.items.feature0.title') %></h3>
                                <p><%- __('home.editorFeatures.items.feature0.description') %></p>
                            </div>
                        </div>
                        <div class="ixefeature" id="ixefeature-1">
                            <div class="ixefeature-ico">
                                <span class="mdi mdi-cellphone-link ico-64px ico-primary"></span>
                            </div>
                            <div class="ixefeature-content">
                                <h3><%- __('home.editorFeatures.items.feature1.title') %></h3>
                                <p><%- __('home.editorFeatures.items.feature1.description') %></p>
                            </div>
                        </div>
                        <div class="ixefeature" id="ixefeature-2">
                            <div class="ixefeature-ico">
                                <span class="mdi mdi-monitor ico-64px ico-primary"></span>
                            </div>
                            <div class="ixefeature-content">
                                <h3><%- __('home.editorFeatures.items.feature2.title') %></h3>
                                <p><%- __('home.editorFeatures.items.feature2.description') %></p>
                            </div>
                        </div>
                        <div class="ixefeature" id="ixefeature-3">
                            <div class="ixefeature-ico">
                                <span class="mdi mdi-xml ico-64px ico-primary"></span>
                            </div>
                            <div class="ixefeature-content">
                                <h3><%- __('home.editorFeatures.items.feature3.title') %></h3>
                                <p><%- __('home.editorFeatures.items.feature3.description') %></p>
                            </div>
                        </div>
                    </div>
                    <div class="" id="ixefeatures-dots">
                        <div class="ixefeature-dot ixefeature-dot-active" id="ixefeature-dot-0" onclick="showIXEFeatureSlide(0)"></div>
                        <div class="ixefeature-dot" id="ixefeature-dot-1" onclick="showIXEFeatureSlide(1)"></div>
                        <div class="ixefeature-dot" id="ixefeature-dot-2" onclick="showIXEFeatureSlide(2)"></div>
                        <div class="ixefeature-dot" id="ixefeature-dot-3" onclick="showIXEFeatureSlide(3)"></div>
                    </div>
                </div>
            </div>
            <div class="contentdiv cd-type-0">
                <h1 class="heading"><%- __('home.courses.header') %></h1>
                <h2 class="subheading"><%- __('home.courses.subheader') %></h2>
                <div class="boxgrid" id="course-preview">

                    <% courses.forEach(course => { %>
                        <% let numLessons = 0; %>
                        <% course.chapters.forEach(chapter => {numLessons += chapter.lessons.length}) %>
                        <%- include('./partials/boxgrid.ejs', {
                            title: course.name,
                            description: course.abstract,

                            pro: course.tags.includes('pro'),
                            comingSoon: course.tags.includes('coming_soon'),

                            hasPath: course.path.hasPath,
                            pathName: course.path.name,
                            pathIcon: course.path.icon,

                            banner: course.images.banner,

                            chapters: __n('boxgrid.chapters', course.chapters.length),
                            lessons: __n('boxgrid.lessons', numLessons),
                        }) %> 
                    <% }) %> 
                    

                    <div class="boxgrid-tall boxgrid-cs">
                        <div class="boxgrid-cbg">
                            <div class="boxgrid-top">
                                <div class="boxgrid-top-price subheading"></div>
                                <h4 class="subheading"><span class="mdi mdi-xml ico-12px"></span> Fundamentals of Web Design Path</h4>
                                <h3>Introduction to HTML</h3>
                            </div>
                        </div>
                        <div class="boxgrid-bottom">
                            <h6 class="subheading"><span class="boxgrid-chaptercount">8 Chapters</span><span class="boxgrid-lessoncount">32 Lessons</span><span class="boxgrid-comptime">Approx. 3 Weeks</span></h6>
                            <p>This course will teach the basic concepts of the Hypertext Markup Language (HTML). HTML is what powers the front end and provides structure for millions of websites being served each day on the modern web.</p>
                            
                        </div>
                        <div class="boxgrid-bttns">
                            <a href="/course/introduction-to-html/" class="button button-dark boxgrid-bttnl">Read More <span class="mdi mdi-text-box ico-16px"></span></a>
                            <a href="/editor/introduction-to-html/000" class="button button-primary boxgrid-bttnr">Preview<span class="mdi mdi-chevron-right ico-16px"></span></a>
                        </div>
                    </div>
                    <div class="boxgrid-tall boxgrid-cs">
                        <div class="boxgrid-cbg">
                            <div class="boxgrid-top">
                                <div class="boxgrid-top-price subheading"></div>
                                <h4 class="subheading"><span class="mdi mdi-xml ico-12px"></span> Fundamentals of Web Design Path</h4>
                                <h3>Introduction to CSS</h3>
                            </div>
                        </div>
                        <div class="boxgrid-bottom">
                            <h6 class="subheading"><span class="boxgrid-chaptercount">4 Chapters</span><span class="boxgrid-lessoncount">19 Lessons</span><span class="boxgrid-comptime">Approx. 2 Weeks</span></h6>
                            <p>This course will provide instruction on using Cascading Style Sheets together with HTML documents. CSS is used to apply clean and usable styles to websites. The pairing of HTML and CSS is common due to the fact that they work hand in hand with one another.</p>
                            
                        </div>
                        <div class="boxgrid-bttns">
                            <a href="/course/introduction-to-css/" class="button button-dark boxgrid-bttnl">Read More <span class="mdi mdi-text-box ico-16px"></span></a>
                            <a href="/editor/introduction-to-css/000" class="button button-primary boxgrid-bttnr">Preview<span class="mdi mdi-chevron-right ico-16px"></span></a>
                        </div>
                    </div>
                    <div class="boxgrid-tall boxgrid-cs">
                        <div class="boxgrid-cbg">
                            <div class="boxgrid-top">
                                <div class="boxgrid-top-price subheading"></div>
                                <h4 class="subheading"><span class="mdi mdi-xml ico-12px"></span> Fundamentals of Web Design Path</h4>
                                <h3>Introduction to JavaScript (DOM)</h3>
                            </div>
                        </div>
                        <div class="boxgrid-bottom">
                            <h6 class="subheading"><span class="boxgrid-chaptercount">9 Chapters</span><span class="boxgrid-lessoncount">44 Lessons</span><span class="boxgrid-comptime">Approx. 4 Weeks</span></h6>
                            <p>This course covers JavaScript, which is a Object-Oriented Programming Language (OOP) that powers modern website scripts. The DOM (Document Object Model) variant of JavaScript provides an interactive API that allows for the script to read and manipulate the Document object, A.K.A. the HTML document. </p>
                            
                        </div>
                        <div class="boxgrid-bttns">
                            <a href="/course/introduction-to-js-dom/" class="button button-dark boxgrid-bttnl">Read More <span class="mdi mdi-text-box ico-16px"></span></a>
                            <a href="/editor/introduction-to-js-dom/000" class="button button-primary boxgrid-bttnr">Preview<span class="mdi mdi-chevron-right ico-16px"></span></a>
                        </div>
                    </div>
                    <div class="boxgrid-tall boxgrid-cs">
                        <div class="boxgrid-cbg">
                            <div class="boxgrid-top">
                                <div class="subheading boxgrid-top-price"></div>
                                <h4 class="subheading"><span class="mdi mdi-layers ico-12px"></span> JavaScript Full Stack Path</h4>
                                <h3>Introduction to JavaScript (Node.js)</h3>
                            </div>
                        </div>
                        <div class="boxgrid-bottom">
                            <h6 class="subheading"><span class="boxgrid-chaptercount">9 Chapters</span><span class="boxgrid-lessoncount">44 Lessons</span><span class="boxgrid-comptime">Approx. 4 Weeks</span></h6>
                            <p>This course teaches the Node.js runtime variant of JavaScript. It is the same language and syntax as normal DOM JS but, there is no document object. Instead, there are various new objects introduced so that the language can be run independently from the browser.</p>
                            
                        </div>
                        <div class="boxgrid-bttns">
                            <a href="/course/introduction-to-nodejs/" class="button button-dark boxgrid-bttnl">Read More <span class="mdi mdi-text-box ico-16px"></span></a>
                            <a href="/editor/introduction-to-nodejs/000" class="button button-primary boxgrid-bttnr">Preview<span class="mdi mdi-chevron-right ico-16px"></span></a>
                        </div>
                    </div>
                    
                </div>
                <div class="boxgrid-more">
                    <a id="" class="subheading boxgrid-more-link" href="/catalogue"><%- __('home.courses.more') %> <span class="mdi mdi-arrow-right ico-12px"></span></a>
                </div>
            </div>
            <!-- <div class="contentdiv cd-type-0">
                <h1 class="heading">Pricing</h1>
                <h2 class="subheading">Take a look at our other available plans</h2>
                <p>While the services of Ideoxan are free forever, some of the curriculum content, advanced courses, personalized help and self assessments are not free. Below are the various plans Ideoxan offers </p>
                <div class="pricing-wrapper">
                    <%- include('./partials/pricingtable.ejs') %>
                </div>
            </div> -->
            <% if (messages.success) { %>
                <div class="toast toast-success"><%= messages.success %></div>
                <script>
                    setTimeout(() => {
                        document.getElementsByClassName('toast')[0].style.animation = "toastIn 1200ms ease-in-out"
                        document.getElementsByClassName('toast')[0].style.top = "90vh"
                        document.getElementsByClassName('toast')[0].style.opacity = "1"
                    }, 1000)
                    setTimeout(() => {
                            document.getElementsByClassName('toast')[0].style.animation = "toastOut 1200ms ease-in-out"
                            document.getElementsByClassName('toast')[0].style.top = "120vh"
                            document.getElementsByClassName('toast')[0].style.opacity = "0"
                    }, 8500);
                </script>
            <% } %>
        </main>

        <%- include('./partials/footer.ejs') %>

        <!-- Scripts -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.20.0/plugins/autoloader/prism-autoloader.min.js"></script>

        <script src="/static/js/index.js" type="text/javascript"></script>
        <script src="/static/js/utils.js" type="text/javascript"></script>
        <script src="/static/js/theme.js" type="text/javascript"></script>
    </body>
</html>