<a id="dashboard-nav-link-url-<%- url %>" class="dashboard-nav-link ts flex flex-row mt-2 mx-4 rounded-lg px-3 py-2 cursor-pointer" onclick="selectItem('<%- title %>', '<%- url %>')">
    <svg class="ts ml-2 icon w-4 h-4" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <use xlink:href="/static/icons/feather-sprite.svg#<%- icon %>"></use>
    </svg>
    <div class="ts ml-4 text-left text-base font-medium"><%- title %></div>
</a>