<div class="ts">
    <!-- <a class="ts block mx-auto text-base text-center font-bold tracking-tight font-sans text-gray-500 hover:text-gray-700" href="<%- //org.link %>">
        <%- //org.name %>
    </a> -->
    <a class="ts mt-1 block mx-auto text-2xl text-center font-semibold tracking-wide font-sans text-gray-900 dark:text-gray-50 hover:underline" href="<%- repo.link %>">
        <%- repo.name %>
    </a>
    <div class="ts mt-4 mx-auto text-base text-center font-normal font-sans text-gray-600 dark:text-gray-400">
        <%- repo.description %>
    </div>
    <div class="ts mt-4 flex flex-row px-4 justify-around">
        <div class="ts flex flex-row space-x-4">
            <svg class="ts icon mx-auto w-3 h-3 text-gray-500 dark:text-gray-300" fill="rgb(107, 114, 128)" stroke-linecap="round" stroke-linejoin="round">
                <use xlink:href="/static/icons/feather-sprite.svg#star"></use>
            </svg>
            <div class="ts text-sm text-left font-medium font-sans text-gray-500 dark:text-gray-300" id="<%- repo.name %>-stars"></div>
        </div>
        <div class="ts flex flex-row space-x-4">
            <svg class="ts icon mx-auto w-3 h-3 text-gray-500 dark:text-gray-300" fill="rgb(107, 114, 128)" stroke-linecap="round" stroke-linejoin="round">
                <use xlink:href="/static/icons/feather-sprite.svg#git-branch"></use>
            </svg>
            <div class="ts text-sm text-left font-medium font-sans text-gray-500 dark:text-gray-300"  id="<%- repo.name %>-forks"></div>
        </div>
        <div class="ts flex flex-row space-x-4">
            <svg class="ts icon mx-auto w-3 h-3 text-gray-500 dark:text-gray-300" fill="rgb(107, 114, 128)" stroke-linecap="round" stroke-linejoin="round">
                <use xlink:href="/static/icons/feather-sprite.svg#bookmark"></use>
            </svg>
            <div class="ts text-sm text-left font-medium font-sans text-gray-500 dark:text-gray-300"  id="<%- repo.name %>-watchers"></div>
        </div>
    </div>
</div>
<script>
    window.fetch('https://api.github.com/repos/<%- org.name %>/<%- repo.name %>').then(res =>  res.json())
        .then(data => {
            document.getElementById('<%- repo.name %>-stars').innerHTML = data.stargazers_count
            document.getElementById('<%- repo.name %>-forks').innerHTML = data.forks
            document.getElementById('<%- repo.name %>-watchers').innerHTML = data.subscribers_count
        })
</script>