<!DOCTYPE html>
<html lang="en">

    <head>
        <%- include('./partials/head/universalhead.ejs', {title: 'Catalogue'}) %>
    </head>

    <body class="ts w-screen h-screen bg-white dark:bg-black overflow-x-hidden">
        <div class="ts flex flex-col w-screen h-screen"> 
            <header class="ts z-20 flex flex-col flex-nowrap flex-shrink-0 min-w-screen shadow-lg ring-1 ring-gray-900 ring-opacity-10 bg-opacity-0">
                <!--------------------------------------- Nav Bar --------------------------------------->
                <%- include('./partials/nav/nav.ejs', locals) %>

                <% if (server.env.node_env !== 'production') { %>
                    <!------------------------------------- Dev Banner -------------------------------------->
                    <%- include('./partials/nav/dev_banner.ejs', locals) %>
                <% } %>
            </header>
            <main class="ts flex-1 overflow-y-auto">

                <!------------------------------------- Page Header ------------------------------------->
                <%- include('./partials/header/header.ejs', {
                    header: 'Catalogue',
                    subheader: 'With a wide variety to choose from, you can find your new favorite programming language!'
                }) %>
                <%- include('./partials/course/course_modal.ejs', locals) %>
                <!------------------------------------- Course List ------------------------------------->
                <%- include('./partials/catalogue_parts/catalogue_courses.ejs', locals) %>
                
                <!----------------------------------------- CTA ----------------------------------------->
                <%- include('./partials/index_parts/index_cta.ejs', locals) %>

                <!--------------------------------------- Footer ---------------------------------------->
                <%- include('./partials/footer/footer.ejs', locals) %>
                
            </main>
        </div>
        <!--------------------------------------- Scripts --------------------------------------->
        <script src="static/js/index.js"></script>
        <script>
            toggleModal()

            window.addEventListener('hashchange', toggleModal)

            function toggleModal() {
                if (window.location.hash != '') {
                    showModal()
                } else {
                    hideModal()
                }
            }

            function showModal() {
                window.fetch(`/static/curriculum/curriculum-${window.location.hash.substr('#course'.length + 1).replace(/\ /g, '-').toLowerCase()}/ideoxan.json`).then(res => res.json()).then(data => {

                document.getElementById('course-name').innerText = data.name
                document.getElementById('course-path').innerText = (data.path.hasPath)? data.path.name:'None'
                let numChapters = data.chapters.length
                let numLessons = 0
                data.chapters.forEach(chapter => {
                    numLessons += chapter.lessons.length
                })
                document.getElementById('course-chapters').innerText = numChapters + ((numChapters>1)?' Chapters':' Chapter')
                document.getElementById('course-lessons').innerText = numLessons + ((numLessons>1)?' Lessons':' Lesson')
                document.getElementById('course-tags').innerText = data.tags.join(', ')
                document.getElementById('course-description').innerText = data.long
                document.getElementById('course-start-button').href = '/editor/' + data.name.toLowerCase().replace(/ /g, '-').replace(/[\(\).]/g, '') + '/000/000'

                document.getElementById('course-modal').classList.remove('hidden')
                document.getElementById('course-modal').classList.add('flex')

                }).catch(console.error)
            }

            function hideModal() {
                if (document.getElementById('course-modal')) {
                    document.getElementById('course-modal').classList.add('hidden')
                    document.getElementById('course-modal').classList.remove('flex')
                }
            }
        </script>
    </body>

</html>
