<!-- META -->
<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<!-- TITLE -->
<title><%- (typeof title !== 'undefined')? title + ' | ' : ''%><%- server.name %></title>

<!-- SITE META -->
<meta name="title"
    content="<%- (typeof title !== 'undefined')? title + ' | ' : ''%><%- server.name %>"/>
<meta name="description"
    content="<%- (typeof siteDescription !== 'undefined')? siteDescription : 'An interactive online learning service that offers a variety of open source courses on computer science and programming. Join today for free to start learning!' %>"/>
<meta name="keywords" 
    content="<%- [server.name, 'Programming', 'Coding', 'Free Programming Tutorial', 'Learn How To Code'].concat((typeof metaTags !== 'undefined')? metaTags : []).join(', ') %>"/>
<meta name="image"
    content="https://ideoxan.com/static/img/ix_color_pb.png"/>
<meta name="theme-color"
    content="#7C3AED"/>

<!-- TWITTER META -->
<meta name="twitter:card"
    content="summary"/>
<meta name="twitter:site"
    content="@ideoxan"/>
<meta name="twitter:creator"
    content="@skyclo_"/>
<meta name="twitter:title"
    content="<%- (typeof title !== 'undefined')? title + ' | ' : ''%><%- server.name %>"/>
<meta name="twitter:description"
    content="<%- (typeof siteDescription !== 'undefined')? siteDescription : 'An interactive online learning service that offers a variety of open source courses on computer science and programming. Join today for free to start learning!' %>"/>
<meta name="twitter:image"
    content="https://ideoxan.com/static/img/ix_color_pb.png"/>
<meta name="twitter:url"
    content="https://ideoxan.com/"/>
    
<!-- OG META -->
<meta prefix="og: http://ogp.me/ns#" property="og:title"
          content="<%- server.name %>: <%- (typeof title !== 'undefined')? title : 'A free to use online tool to learn programming.' %>"/>
<meta prefix="og: http://ogp.me/ns#" property="og:type"
      content="website"/>
<meta prefix="og: http://ogp.me/ns#" property="og:locale"
      content="en_US"/>
<meta prefix="og: http://ogp.me/ns#" property="og:site_name"
      content="<%- server.name %>"/>
<meta prefix="og: http://ogp.me/ns#" property="og:description"
      content="<%- (typeof siteDescription !== 'undefined')? siteDescription : 'An interactive online learning service that offers a variety of open source courses on computer science and programming. Join today for free to start learning!' %>"/>
<meta prefix="og: http://ogp.me/ns#" property="og:url"
      content="https://ideoxan.com/"/>
<meta prefix="og: http://ogp.me/ns#" property="og:image"
      content="https://ideoxan.com/static/img/ix_color_pb.png"/>
<meta prefix="og: http://ogp.me/ns#" name="theme-color"
    content="#7C3AED">

<!-- PRELOAD -->
<link rel="preload" href="/static/fonts/Gilroy-Regular.woff" as="font" type="font/woff" crossorigin="anonymous">
<link rel="preload" href="<%- server.logo %>" as="image" type="font/png"> 

<!-- STYLES -->
<link rel="stylesheet" href="/static/css/styles.css">

<!-- IMAGES -->
<link rel="icon" type="image/webp" href="/static/img/ix_color_pb.webp">

<!-- STRUCTURED DATA -->
<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Organization",
      "url": "http://www.ideoxan.com",
      "logo": "http://www.ideoxan.com/static/img/ix_color_pb.png"
    }
</script>

<script data-ad-client="ca-pub-1147118331565789" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

<!-- DARK MODE -->
<script>
    if (localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
        document.querySelector('html').classList.add('dark')
    } else {
        document.querySelector('html').classList.remove('dark')
    }
</script>
